* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffaf5;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: var(--line-clamp, 2); /* number of lines to show */
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--height);
  min-width: 182px;
  border-radius: 99px;
  border: 1px solid rgb(255, 91, 46, 0.6);
  color: rgb(255, 91, 46, 1);
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.9;
}

.section-title {
  color: #5e6085;
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.section-heading {
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19; /* 119.231% */
}

.section-desc {
  color: #656689;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
}
/*--- Header ---*/

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
}

.nav-list {
  display: flex;
}

.nav-link,
.sign-in {
  padding: 8px 18px;
  color: #5e6085;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1; /* 100% */
}

.nav-link:hover,
.sign-in:hover {
  color: #000958;
  text-shadow: solid 2px 2px 0 #000958;
}

.sign-up {
  margin-left: 18px;
  min-width: 118px;
  height: 50px;
  line-height: 50px;
  border: 1px solid rgb(0, 9, 88, 0.7);
  color: rgb(0, 9, 88, 1);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
}

/* --- hero --- */
.hero {
  margin-top: 74px;
  height: 582px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-card {
  position: relative;
  max-width: 52%;
  height: 100%;
}

/* large */
.hero-card__large {
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 388px;
  height: 488px;
  padding-top: 24px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fe997b;
  border: solid 3px #fff;
}

.hero-card__large--thumb,
.hero-card__small--thumb {
  padding-top: 24px;
  width: 100%;
}

.hero-card__decor--left,
.hero-card__decor--right {
  position: absolute;
  z-index: -1;
}

.hero-card__decor--left {
  bottom: 10px;
  left: -58px;
}

.hero-card__decor--right {
  top: 16px;
  right: -40px;
}

/* small */
.hero-card__small {
  position: absolute;
  z-index: 1;
  bottom: 36px;
  left: 365px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 186px;
  height: 244px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 16px;
  background: #faa7ad;
  border: solid 2px #fcdcdf;
}

/* list */
.hero-card__list {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 129px;
  width: 250px;
  padding: 20px 14px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-card__list-row {
  display: flex;
  align-items: center;
  column-gap: 9px;
}

.hero-card__list-thumb {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
}

.hero-card__list-thumb.up {
  background: #fec23f;
}

.hero-card__list-thumb.down {
  background: #6597c2;
}

.hero-card__list-title {
  color: #181e52;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.hero-skeleton {
  margin-top: 6px;
  width: 118px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 99px;
  opacity: 0.08;
  background: #000958;
}

.hero-card__list-content .hero-skeleton:nth-of-type(2) {
  width: 39px;
}

/* separate line */
.hero-card__list-separate {
  margin: 20px 0;
  width: 100%;
  height: 2px;
  background: #f2f2f2;
  border-radius: 99px;
}

/* Hero-content */
.hero-content {
  max-width: 44%;
}

.hero-heading {
  color: #000958;
  font-size: 6.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.15; /* 115.152% */
}

.hero-desc {
  margin-top: 24px;
  width: 391px;
  color: #656689;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
}

.hero-cta {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.hero-cta__btn {
  column-gap: 10px;
  --height: 60px;
  min-width: 189px;
  background: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  color: #fff;
  font-weight: 600;
}

.btn-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fffaf5;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero-cta__link {
  color: #000958;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1; /* 100% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* --- Main --- */
/* -- about -- */
.about {
  margin-top: 154px;
  padding: 53px 0;
}

.about-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 78px;
  row-gap: 154px;
}

/* col-01 */
.about-col-01__heading {
  width: 446px;
}

.about-col-01__desc {
  margin-top: 24px;
  width: 431px;
}

.about__check-list {
  margin-top: 57px;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 40px;
}

.about__check-list-item {
  position: relative;
  color: #48496a;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1; /* 100% */
}

.about__check-list-item::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -30px;
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-list-item::after {
  content: url(../icons/check.svg);
  position: absolute;
  top: -1px;
  left: -25px;
}

/* col-02 */
.about-col-02 {
  display: flex;
  justify-content: flex-end;
}

.about-col-02__wrap {
  display: flex;
  justify-content: center;
  position: relative;
  width: 494px;
  flex-shrink: 0;
  border-radius: 16px;
}

.about-col-02__wrap::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 494px;
  height: 336px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about-col-02__thumb {
  width: 450px;
  flex-shrink: 0;
}

.about-col-02__decor {
  position: absolute;
  z-index: -2;
  top: 150px;
  right: -50px;
  flex-shrink: 0;
}

.about-col-02__experience {
  margin: 0 auto;
  position: absolute;
  top: 165px;
  left: -92px;
  width: 136px;
  height: 156px;
  padding: 30px 26px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about-col-02__experience b {
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1; /* 100% */
}

.about-col-02__experience p {
  margin-top: 14px;
  width: 83px;
  color: #c6f4f9;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42; /* 142.857% */
}

.about-col-02__experience img {
  position: absolute;
  top: -35px;
  right: -29px;
  width: 76px;
  filter: drop-shadow(5px 9px 24px rgba(255, 158, 126, 0.08));
}

/* col-03 */
.about-col-03__wrap {
  position: relative;
  width: 458px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about-col-03__thumb {
  height: 100%;
  flex-shrink: 0;
}

.about-col-03__decor--string {
  position: absolute;
  top: 16px;
  right: 47px;
}

.about-string:nth-child(2) {
  position: absolute;
  top: -30px;
  left: 30px;
}

.about-string:nth-child(3) {
  position: absolute;
  top: 24px;
  left: 30px;
}

.about-col-03__decor--triangle {
  position: absolute;
  top: 260px;
  right: -36px;
}

.about-triangle:nth-child(2) {
  position: absolute;
  top: 60px;
  right: 50px;
}

.about-col-03__decor-ellipse {
  position: absolute;
  bottom: -60px;
  right: -50px;
}

.about-ellipse:nth-child(2) {
  position: absolute;
  top: -6px;
  left: -6px;
}

.about-ellipse:nth-child(3) {
  position: absolute;
  top: -15px;
  left: -15px;
}

/* col-04 */
.about-col-04__heading {
  width: 543px;
}

.about-col-04__desc {
  margin-top: 24px;
  width: 511px;
}

.about-col-04__list {
  position: relative;
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}

.about-col-04__item {
  position: relative;
  display: flex;
  align-items: center;
  color: #48496a;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
  cursor: pointer;
}

.about-col-04__item:nth-child(1):before {
  content: url(../icons/about-col-04-boarding.svg);
  margin-top: 10px;
}

.about-col-04__item:nth-child(2):before {
  content: url(../icons/about-col-04-day-care.svg);
  margin-top: 16px;
  margin-right: 8px;
}

.about-col-04__item:nth-child(3):before {
  content: url(../icons/about-col-04-transport.svg);
  margin-top: 4px;
  margin-right: 6px;
}

.tab-active::after,
.about-col-04__list::after {
  position: absolute;
  bottom: -4px;
  content: "";
  display: block;
  height: 2px;
  background: #ff5b2e;
  border-radius: 4px;
}

.tab-active::after {
  z-index: 2;
  width: 95px;
}

.about-col-04__list::after {
  z-index: 1;
  width: 100%;
  opacity: 0.07;
}

.tab-content__item {
  display: none;
}

.tab-content__item--active {
  display: block;
}

.tab-content__desc {
  margin-top: 36px;
  width: 391px;
  font-size: 14px;
  line-height: 1.71; /* 171.429% */
}

.tab-content__view-more {
  display: block;
  margin-top: 32px;
  color: #ff5d31;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1; /* 100% */
  text-decoration: underline;
  text-underline-offset: 6px;
}

/* -- Services-- */
.services {
  margin-top: 185px;
  padding: 68px 0 100px;
  background: #fff6ed;
}

.services-top {
  text-align: center;
}

.services-heading {
  margin-top: 15px;
}

.services-body {
  margin-top: 71px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 71px;
}

.services-item {
  --line-clamp: 3;
  padding: 30px 22px 30px 28px;
  width: 294px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
}

.services-item + .services-item {
  margin-top: 24px;
}

.services-item__heading {
  position: relative;
  padding-left: 12px;
  color: #000958;
  font-family: Sora;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 100% */
}

.services-item__heading::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 2px;
  border-radius: 2px;
  background: linear-gradient(#ff5b2e 0.39%, #ffa187 100.29%);
}

.services-item__desc {
  margin-top: 18px;
  color: #656689;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
}

.services-item__more {
  margin-top: 24px;
  display: flex;
  align-items: center;
  color: #34396a;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1; /* 100% */
}

.services-item__more::after {
  content: url(../icons/arrow-up-right.svg);
  margin-left: 6px;
}

.services-media {
  position: relative;
}

.services-media::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  display: block;
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services-media__thumb {
  position: relative;
  display: block;
  left: 0;
  right: 0;
  z-index: 1;
  margin-top: 17px;
  width: 100%;
}

.services-media-cta {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
